In [9]:
import requests
from bs4 import BeautifulSoup
import random
import time

def get_search_result(query, num_results=10):
    
    time.sleep(random.uniform(1, 3))

    url = f"https://www.google.com/search?q={query}&num={num_results}"
    
    # List of user agents to rotate
    user_agents = [
        'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36',
        'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36',
        'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0',
    ]
    
    headers = {
        'User-Agent': random.choice(user_agents),
        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8',
        'Accept-Language': 'en-US,en;q=0.5',
        'Referer': 'https://www.google.com/',
    }
    
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.text, 'html.parser')

    link = None
    
    for g in soup.find_all('div', class_='yuRUbf'):
        anchors = g.find_all('a')
        if anchors:
            link = anchors[0]['href']
            if 'amazon' in link:
                break
    
    return link

In [10]:
query = 'amazon'
result = get_search_result(query, 7)
    
print(result)

https://www.amazon.in/

In [11]:
import pandas as pd

train_features = pd.read_json('./datathon_phase_2_data/training_data/train.features', lines=True)

In [12]:
train_features

        indoml_id                 description      retailer  price
0               0                    1 adblue  organicorner  25.35
1               1               1 car mat set   greenharbor   4.99
2               2           1 cp rmx scrnwash      naturify   3.85
3               3                    1 diesel        ecogro   4.41
4               4      1 unstoppable refrsher   greenharbor   3.00
...           ...                         ...           ...    ...
561833     561833       zuru xshot excelxcess       noshify  16.99
561834     561834            zuru xshot micro      vitalveg   3.50
561835     561835  zuru xshot typhoon thunder   crispcorner   8.50
561836     561836                       zzand      snackify   4.79
561837     561837   zzand sand set dinounicon       noshify   6.99

[561838 rows x 4 columns]

In [13]:
train_features['title'] = train_features['description']
train_features = train_features.drop(['description'], axis=1)

In [14]:
train_features

        indoml_id      retailer  price                       title
0               0  organicorner  25.35                    1 adblue
1               1   greenharbor   4.99               1 car mat set
2               2      naturify   3.85           1 cp rmx scrnwash
3               3        ecogro   4.41                    1 diesel
4               4   greenharbor   3.00      1 unstoppable refrsher
...           ...           ...    ...                         ...
561833     561833       noshify  16.99       zuru xshot excelxcess
561834     561834      vitalveg   3.50            zuru xshot micro
561835     561835   crispcorner   8.50  zuru xshot typhoon thunder
561836     561836      snackify   4.79                       zzand
561837     561837       noshify   6.99   zzand sand set dinounicon

[561838 rows x 4 columns]

In [15]:
from tqdm import tqdm

In [16]:
titles = train_features['title']
links_list = []
row = 0
for title in tqdm(titles, desc="Processing", unit="title"):
    query = title + ' amazon'
    result = get_search_result(query, 10)
    if result:
        links_list.append(result)
    else:
        print('Row index', row, 'cannot be extracted for the query', title)
    row += 1

Processing:   0%|          | 22/561838 [01:44<739:20:45,  4.74s/title]

Row index 21 cannot be extracted for the query 2639203 organify panel hood

Processing:   0%|          | 35/561838 [02:37<700:41:37,  4.49s/title]

KeyboardInterrupt:

In [ ]:
result

In [ ]:
link